#root {
  box-sizing: border-box; /* include padding and border in the element's width */
  margin: 0; /* remove margin */
  padding: 0; /* remove padding */
  width: 100vw; /* or 100vw */
}

h2 { 
  display: flex; 
  flex-direction: row; 
} 

h2:before, 
h2:after { 
  content: ""; 
  flex: 1 1; 
  border-bottom: 2px solid #000; 
  margin: auto; 
} 

.background-img {
  background-image: url('../images/06.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  flex: 1 1 auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-weight: bold;
  font-size: 4vh;
  margin-left: 0;
  align-self: left;
}

.navItem {
  flex: 1 1 auto;
  text-align: center;
}

.navbarlink {
  text-decoration: none;
  color: #000;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.naviButton {
  text-align: center;
}

.productCard {
  margin: 2vh;
}

.linkToProductList {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
  margin: 20px 0;
}

.product-button {
  margin: 2px;
}
/* UserLogin, UserRegister, AdminLogin, AdminRegister */
.inputUser {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.btnsubmit {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

/* Style for screens smaller than 768px (e.g., iPhone 7) */
@media only screen and (max-width: 768px) {
  .product-card {
      width: 100%;
      border: 1px solid gold;
      box-sizing: border-box;
      margin-bottom: 20px;
  }
}

/* Style for screens larger than 768px */
@media only screen and (min-width: 769px) {
  .product-card {
      width: 25%;
      border: 1px solid gold;
      box-sizing: border-box;
      margin-bottom: 20px;
  }
}
